  <nav id="navbar-devfest2020" class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="index.html"><span>devfest 2020</span></a>
          <button class="navbar-toggler" type="button" style="visibility: hidden;">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link"
                          target="_blank"
                          href="https://gdg.community.dev/events/details/google-gdg-taipei-presents-devfest-taiwan-2020/#/">
                          報名
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>