  <div id="sidenav" class="sidenav">
      <a class="sidenav-close">&times;</a>
      <a href="#devfest2020-subjects">主題類型</a>
      <a href="#devfest2020-agenda">議程</a>
      <a href="#devfest2020-participate">參與社群</a>
  </div>

  <div id="sidenav-mask"></div>

  <nav id="navbar-devfest2020" class="navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
          <a class="navbar-brand" href="index.html"><span>devfest 2020</span></a>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="#devfest2020-subjects">主題類型</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#devfest2020-agenda">議程</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#devfest2020-participate">參與社群</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>