.fa-facebook,
.fa-facebook-square {
    &:hover {
        color: #3b5998 !important;
    }
}

.fa-twitter,
.fa-twitter-square {
    &:hover {
        color: #00aced !important;
    }
}

.fa-telegram {
    &:hover {
        color: #0088cc !important;
    }
}

.fa-line {
    &:hover {
        color: #00c300 !important;
    }
}

.fa-linkedin {
    &:hover {
        color: #0077b5 !important;
    }
}
